<header class="header">
  <img src="assets/img/logo.png" alt="SEHYOG Academy" class="logo">
</header>

<div class="container">

  <div class="main-container">

    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/l5VNHs_TPHg" title="SEHYOG Academy | 11plus | GCSE | A-Level" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <div class="home-content">

    <h2>GCSE Do's & Don'ts</h2>
    <p class="highlight">FREE WEBINAR - Major Board Based Focus AQA, OCR, EDEXCEL</p>

    <div class="date-time">

      <div>
        <p><strong>DATE:</strong></p>
        <p>15th Feb 2025</p>
      </div>

      <div>
        <p><strong>Time:</strong></p>
        <p>7:00 PM</p>
      </div>

    </div>

   </div>

  </div>

</div>

<div class="cta-section">
  <p><span class="cta-main-txt">LIMITED SEATS!</span> <span class="cta-txt">  Unlock your Educational Excellence</span></p>
  <button class="btn">BOOK YOUR SEAT</button>
</div>

<div class="dis-main">
  <div class="description">

    <div class="block-a">
      <p class="heading-bloc-a">Why Attend this Workshop ?</p>
  
      <p style="font-size: 20px;">Board based focus: <strong>AQA | OCR | EDEXCEL</strong></p>
  
      <ul>
        <li>Top Tips for GCSE Success</li>
        <li>Mistakes to Avoid</li>
        <li>Parent Support Guidance</li>
      </ul>
  
    </div>
  
    <div class="block-b">
      <p style="font-size: 20px; font-weight: 300;">Sehyog Academy</p>
      <p style="font-size: 18px;">Providing comprehensive Support to 11+, GCSE, AS/A <br> Level Students since over a decade in United Kingdom.</p>
      <p style="font-style: italic; font-weight: 500;">Rated No. 1 in UK now also in UAE</p>
    </div>
  
  </div>

  <button class="register-btn">
    Registter Now For Free
  </button>

</div>

<div class="feature">

  <h2>Join the community of more than 10K Successful Students & Happy Parents !</h2>

  <iframe  width="560" height="315" src="https://www.youtube.com/embed/3PjPMOdyV-A" title="Happy Parents Speak: Success Stories &amp; Testimonials 01" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>

<div class="cta-two">

  <h1>With our Proven Methodology and Years of Experience, we help your <br> child in their 11+, GCSE, AS/A Level Success Journey</h1>

  <button class="btn">BOOK YOUR SEAT</button>
</div>



<!-- More sections following the same structure -->

<footer class="footer">
  <p>Contact: <a href="mailto:academy@sehyog.co.uk">academy@sehyog.co.uk</a></p>
</footer>